/*Styles go here*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #cc5500;
}

h2 {
    color: #666547;
}

.editable {
    border: 1px solid blue;
    padding: 20px;
    color: blue;
}

ul {
    list-style-type: circle;
}
    
input[class="title"], input[class="genre"], input[class="year"], input[class="rating"], input[class="desc"] {
    font-family: fontAwesome;
    font-size: 24px;
}